{{#if errorMessage}}
<h1>{{errorMessage}}</h1>
{{/if}}

<h1>Add Task</h1>
<form method="POST" action="/tasks">
  <input type="text" name="title" placeholder="Add new text"/>
  <input type="submit"/>
</form>


<h1>Tasks</h1>
<ul>
  {{#each tasks}}
    <li>{{title}}</li>
  {{/each}}
</ul>